*{font-family:'Courier New', Courier, monospace; scroll-behavior: smooth;}
.input-group{width: 50% !important;}
.btn{width: 120px;}
#validateloanAmount,
#validateAnnualIncome,
#validateCurrentAmount,
#validateLoanRepymentPeriod,
#validateCreditHistory,
#validateLDD,
      
#validateLLCD,
#validateAcctType{color: red;}
.row{
  
    img{ width: 100%;}
}


#validateLoanRepymentPeriod{width: 500px;
  .container{

    width: 60%;
}}

.banner{background-color: #8EC5FC;
  background: #4B79A1;  
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1); 
  background: linear-gradient(to right, #283E51, #4B79A1); 
  

  button{width: 100%; height: 40px; background-color: rgb(8, 92, 64); border: 5px solid  rgb(57, 116, 96); border-radius: 9px; color: white;

&:hover{
    background-color: rgb(8, 43, 31);
transition: all ease-in 500ms;
}}
    .form-select{background-color: rgb(255, 254, 253);}
input{background-color: rgb(255, 254, 253);}}


//
.modal {
    display: hide; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
   
button{ width: 40px;}
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgb(240, 229, 229);
    margin: auto;
    padding: 60px;
    border: 1px solid #888;
    width: 80%;
    #popupItem {text-align: center; text-transform: capitalize;}
    button{ width: 50%; text-align: center;margin: auto;height: 40px; }
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 15, 15);
    text-decoration: none;
    cursor: pointer;
   
  }
  .spinner-border{display: none;}
.carousel-caption {
  

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #4bbbe0;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  margin-bottom: 00px;
}
a:hover {
  opacity: 78%;
  box-shadow: inset 690px 0 0 0 #add9e9;
  color: white;
  border-radius: 15px;
  padding: 12px 8px;
}
}
.carousel-caption{

  h1{padding-left: 30px;}
}


